/*
-------------------
 Contact Form
-------------------
*/
.contact-form-sec-wrp{
	background: #eaeaea;
	padding-top: 0;
	padding-bottom: 80px;
}
.contact-form-lft{
	width: 60%;
	float: left;
	padding-right: 90px;
}
.contact-form-title-1,
.contact-form-title{
	font-size: 28px;
	line-height: 30px;
	color: #212529;
	font-weight: 600;
	display: block;
	margin-bottom: 45px;
	font-family: 'Work Sans', sans-serif;
}
.fc-contact-form-field{
	padding-bottom: 15px;
}
.fc-contact-form-msg-field label,
.fc-contact-form-field label{
	display: block;
	font-size: 20px;
	line-height: 22px;
	color: #212529;
	font-weight: 600;
	margin-bottom: 10px;
	font-family: 'Work Sans', sans-serif;
}
.fc-contact-form-msg-field label span,
.fc-contact-form-field label span{
	color: #ee2724;
}
.fc-contact-form-msg-field textarea,
.fc-contact-form-field input[type=email],
.fc-contact-form-field input[type=text]{
	width: 100%;
	height: 48px;
	border:1px solid #999999;
	padding: 12px 15px 18px;
	font-size: 16px;
	line-height: 18px;
	color:#212529;
	font-weight: 400;
	background: #fff;
}
.fc-contact-form-msg-field textarea{
	height: 190px;
	resize: none;
}
.fc-contact-form-msg-field textarea:focus,
.fc-contact-form-field input[type=email]:focus,
.fc-contact-form-field input[type=text]:focus{
	border-color: #c6c2c2;
}
.fc-contact-form-submit button{
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	background: #70BA61;
	height: 60px;
	width: 100%;
	border:2px solid#70BA61;
	margin-top: 20px;
	cursor: pointer;
	padding-top: 2px;
}
.fc-contact-form-submit button:hover{
	background: transparent;
	border-color: #70BA61;
	color: #70BA61;
}
.contact-form-rgt{
	width: 40%;
	float: right;
}
.fc-contact-info-inr {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 12px 0 48px;
}
.fc-contact-info-icon{
	width: 90px;
	height: 90px;
	border: 1px solid#4f5054;
	background: #fff;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fc-contact-info-icon a{
	font-size: 36px;
	line-height: 38px;
	color: #dd0023;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.fc-contact-info-dsc a:hover,
.fc-contact-info-icon a:hover{
	color:#EFBBB1; 
}
.fc-contact-info-dsc{
	float: left;
	padding-top: 15px;
	padding-left: 25px;
}
.fc-contact-info-title{
	display: block;
	font-size: 18px;
	line-height: 20px;
	color: #212529;
	font-weight: 600;
	font-family: 'Work Sans', sans-serif;
	margin-bottom: 5px;
}
.fc-contact-info-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 20px;
	line-height: 30px;
	color: #333333;
	font-weight: 300;
}

/*
------------------
 Responsive Css
------------------
*/

@media(max-width: 1199px){
	.contact-form-lft {
	    padding-right: 70px;
	}
	.contact-form-title-1,
	.contact-form-title {
	    font-size: 27px;
	    line-height: 29px;
	    margin-bottom: 40px;
	}
}

@media(max-width: 991px){
   .contact-form-wrp{
   		max-width: 500px;
   		width: 100%;
   		margin: 0 auto;
   }
  .contact-form-lft {
	    padding-right: 0;
	    width: 100%;
	} 
	.contact-form-rgt {
	    width: 100%;
	    padding-top: 40px;
	}
	.contact-form-title-1,
	.contact-form-title {
	    font-size: 26px;
	    line-height: 28px;
	    margin-bottom: 30px;
	}
	.contact-form-title-1{
		margin-bottom: 20px;
	}
	.fc-contact-info-inr {
	    padding: 12px 0 30px;
	}
}

@media(max-width: 767px){
  .contact-form-title-1,
	.contact-form-title {
	    font-size: 25px;
	    line-height: 27px;
	}
	.fc-contact-info-title {
	    font-size: 17px;
	    line-height: 19px;
	}
	.fc-contact-info-dsc a {
	    font-size: 18px;
	    line-height: 28px;
	}
	.contact-form-sec-wrp {
	    padding-top: 90px;
	    padding-bottom: 50px;
	}
	
}

@media(max-width: 575px){
  .contact-form-title-1,
	.contact-form-title {
	    font-size: 24px;
	    line-height: 26px;
	}

}

@media(max-width: 479px){
	.fc-contact-info-inr {
	    padding: 0 0 25px;
	    display: block;
	}
	.fc-contact-info-dsc {
	    float: left;
	    padding-top: 25px;
	    padding-left: 0;
	    display: block;
	    width: 100%;
	}
	.contact-form-title-1{
		margin-bottom: 35px;
	}
}

@media(max-width: 359px){

}