.lottery-time{
	display: none;
}
.lottery-time.custom-lottery-time{
	display: block !important;
}
p.cureent-participating {
    display: none;
}

p.max-pariticipants {
    display: none;
}

p.min-pariticipants {
    display: none;
}

p.lottery-end {
    display: none;
}
.wc-lottery-ajax p.max-pariticipants{
	display: block;
}
p.stock.in-stock {
    display: none;
}
.fl-product-summary-txt p {
    display: inline;
}
.wcl-progress-meter {
    display: none;
}
.fl-product-summary-sec{
	background: #eaeaea;
	padding: 50px 0 90px;
}

.fl-product-gallery-cntlr{
	float: left;
	width: 45%;
}
.fl-product-summary-cntlr{
	width: 55%;
	padding: 0 0 0 40px;
	float: left;
}

.proGallerySlider{
	margin: 0 0 5px 0!important;
}

.proGallerySlideItem{
	position: relative;
}
.proGallerySlideItem img,
.flProGgalleryThumbPagi-item img{
	width: 100%;
}
.flProGgalleryThumbPagi-item div{
	padding: 0 5px;
}
.flProGgalleryThumbPagi-item{
	width: 25%;
}
.fl-pro-gallery-thumb-imgs{
	margin: 0!important;
	padding: 0 40px;
}

.fl-product-summary-title-1{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #DF0025;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 15px;
	display: block;
}

.flProGgalleryThumbPagi.slick-slider ul.slick-dots{
	position: absolute;
	bottom: -25px;
	left: 0;
	right: 0;
	width: auto;
}



.fl-product-summary-title-2{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 1;
	margin-bottom: 30px;
	display: block;
}
.fl-product-summary-txt p{
	line-height: 40px;
	font-size: 18px;
}
.fl-product-summary-txt p strong{
	font-weight: 600;
}
.fl-pro-summary-price-quentity{
	display: flex;
	align-items: center;
}

.fl-product-summary-select{
	margin-bottom: 30px;
	padding-top: 10px;
}
.fl-pro-summary-prices{
	display: flex;
	align-items: center;
}
.fl-pro-summary-prices del{
	text-decoration: line-through;
	font-size: 18px;
	line-height: 1;
	color: #917164;
	font-weight: 600;
	margin-right: 13px;
	font-family: 'Montserrat', sans-serif;

}
.fl-pro-summary-prices ins{
	font-weight: 700;
    font-size: 36px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5px;
    border-bottom: 1px solid #212429;
    display: inline-block;
    vertical-align: baseline;
}
.fl-pro-summary-prices div label{
	font-size: 16px;
	line-height: 1;
	color: #D60215;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 10px;
	display: block;
	font-weight: 700;
}
.fl-pro-summary-prices div strong{
	font-weight: 700;
	font-size: 36px;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 5px;
	border-bottom: 1px solid #212429;
	display: inline-block;
	vertical-align: baseline;
}

.qty{
  width: 81px;
  height: 33px;
  border-radius: 12px;
  background-color: #f8f8f8;
  position: relative;
}

.qty:hover .plus,
.qty:hover .minus,
.qty:hover input[type=number]{
	color: #DF0025;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty .plus,
.qty .minus{
	cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #9f9f9f;
    font-size: 24px;
    line-height: 26px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 2;
}
.qty .plus {
    right: 14px;
    font-size: 22px;
}
.qty .minus {
  left: 14px;
}

.qty span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.qty input[type="number"]{  
	width: 12px;
	border: none;
	background: transparent;
 	-moz-appearance:textfield;
 	appearance: none;
 	letter-spacing: 0.6px;
 	font-size: 16px;
 	line-height: 19px;
 	color: #000;
 	opacity: 1;
 	font-weight: 700;
 	margin-top: 8px;
}

.qty input[type="number"]:disabled{
   
}
         
.qty input[type=number]::-webkit-inner-spin-button, 
.qty input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    opacity: 0;
}

.fl-pro-summary-qty{
	display: flex;
	margin-left: auto;
}

.fl-pro-summary-qty .qty{
	background: #fff;
	height: 60px;
	border: 1px solid #333333;
	border-radius: 10px 0 0 10px;
	border-right: none;
	width: 125px;
	position: relative;
}
.fl-pro-summary-qty button{
	width: 170px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: #70bb60;
	border: none;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
}

.fl-pro-summary-qty .qty .plus,
.fl-pro-summary-qty .qty .minus{
	transform: initial;
	right: 7px;
	left: auto;
}
.fl-pro-summary-qty .qty .plus{
	top: 22px;

}
.fl-pro-summary-qty .qty .minus{
	top: auto;
	bottom: 22px;
}

.fl-pro-summary-qty .qty input[type="number"]{
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: left;
	padding-left: 17px;
	color: #DF0025;
	font-size: 30px;
	line-height: 1;
	font-weight: 600;
}

.woocommerce .fl-pro-summary-qty .quantity{
	max-width: 120px;
	width: 100%;
}
.woocommerce .fl-pro-summary-qty .quantity .qty{
	width: 100%;
	text-align: left;
    padding-left: 17px;
    color: #DF0025;
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
}

.woocommerce .fl-pro-summary-qty button.single_add_to_cart_button.button{
	width: 170px;
    height: 60px;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    color: #fff!important;
    background: #70bb60!important;
    border: none;
    text-transform: uppercase!important;
    font-weight: 600!important;
    border-radius: 0 10px 10px 0!important;
    cursor: pointer;
}
.woocommerce .fl-pro-summary-qty button.single_add_to_cart_button.button:hover{
	background-color: #62a055!important;
}
.fl-pro-summary-prices > div label{
	text-align: center;
	display: block;
}
.product-stats-section{
	background:#B20026;
	padding: 45px 0 25px; 
}
.pro-stat-grd-item-des{
	color: #fff;
}


.pro-stats-sec-grd-cntlr ul li{
	float: left;
	width: 20%;
	padding: 0 10px 15px;
}
.pro-stat-grd-item{
	display: flex;
	align-items: center;
	justify-content: center;
}
.pro-stat-grd-item i{
	margin-right: 10px;
}
.pro-stat-grd-item-des span{
	color: #eaeae8;
	display: block;
	font-size: 17px;
	line-height: 1;
}
.pro-stat-grd-item-des strong{
	display: block;
	font-size: 25px;
	line-height: 1;
	font-weight: 700;
}


.fl-product-details-sec{
	background: #1b1c20;
	padding: 40px 0;
}

.fl-pro-details-tabs-con{
	background: #fff;
	padding: 45px 15px 50px;
}

.fl-pro-details-tabs-con strong{
	font-weight: 700;
	display: block;
	margin-bottom: 20px;
}
.fl-pro-details-tabs-con p{
	font-size: 16px;
	line-height: 36px;
	margin-bottom: 20px;
}

.fl-pro-details-tabs-con ul li{

}
.fl-pro-details-tabs button{
	background: #dddddd;
	cursor: pointer;
	padding: 5px 65px 5px 25px;
	color: #515151;
	font-size: 26px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
	min-height: 65px;
	float: left;
	position: relative;
	position: relative;
}
.fl-pro-details-tabs button.current{
	background: #d70216;
	color: #fff;
}
.fl-pro-details-tabs button.current .title-angle{
	border-right-color: #dddddd;
}
.fl-pro-details-tabs button.current:last-of-type .title-angle{
	border-right-color: #1b1c20;
}
.fl-pro-details-tabs button .title-angle{
	border-right-color: #1b1c20;
}


.fl-tab-content{
	display: none;
}
.fl-tab-content.current{
	display: block;
}

.custom-lottery-time >h3{
	font-size: 20px;
	line-height: 1;
	margin-bottom: 30px;
}
.main-lottery{
	text-align: left;
}
.cart.pick-number > h3{
	display: none;
}
.lottery-question{
	font-size: 20px;
	line-height: 1;
	font-weight: 700;
}
ul.lottery-pn-answers li{
	background: #fff;
	color: #dc0026;
}
ul.lottery-pn-answers li.selected{
	border-color: #dc0026;
	background-color: #dc0026!important;
	color: #fff;
}
.lottery-pn-answers{
	margin-bottom: 30px;
}
.wc_lottery_countdown-section{
	text-align: left!important;
}
#countdown .main-lottery .wc_lotery_countdown-row{
	text-align: left!important;
}
#countdown .main-lottery span.wc_lottery_countdown-section{
	text-align: left!important;
}
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.fl-product-summary-cntlr{
		padding-left: 30px;
	}
	.fl-pro-summary-qty .qty{
		width: 100px;
	}

}

@media(max-width: 991px){
	.fl-product-gallery-cntlr {
	    float: none;
	    width: 100%;
	    max-width: 550px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.fl-product-summary-cntlr {
	    width: 100%;
	    padding: 70px 0 0 0;
	    float: none;
	}
	.pro-stats-sec-grd-cntlr ul li{
		width: 33.3333%;
		padding-bottom: 35px;
	}
}

@media(max-width: 767px){
	.fl-product-summary-title-2{
		font-size: 32px;
	}
	.fl-product-summary-title-1{
		font-size: 19px;
	}
	.fl-pro-details-tabs button {
	    padding: 5px 50px 5px 20px;
	    font-size: 20px;
	}
}

@media(max-width: 639px){
	.pro-stats-sec-grd-cntlr ul li{
		width: 50%;
	}
}

@media(max-width: 575px){
	.fl-pro-summary-price-quentity{
		display: block;
	}
	.fl-pro-summary-prices{
		margin-bottom: 20px;
	}
	.fl-product-summary-title-2{
		font-size: 30px;
	}
	.fl-product-summary-title-1{
		font-size: 18px;
	}
	.pro-stat-grd-item i{
		max-width: 50px;
	}
	.pro-stat-grd-item-des strong{
		font-size: 22px;
	}
	.woocommerce span.onsale{
		left: 0;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}