/*
-------------------------
fc-enty-list-box-sec-wrp
-------------------------
*/
.fc-enty-list-box-sec-wrp{
	background: #eaeaea;
	padding-bottom: 70px;
}
.fc-enty-list-box-wrp ul{
	margin-left: -10px;
	margin-right: -10px;
}
.fc-enty-list-box-wrp ul li{
	width: 33.3333%;
	float: left;
	padding: 0 10px 20px;
}
.fc-enty-list-box-wrp ul li:nth-child(3n+1){
	clear: left;
}
.fc-enty-list-box-inr{
	background: url(../images/entry-list-box-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 35px 20px;
	display: flex;
	justify-content: left;
	align-items: center;
    -webkit-box-shadow: 0px 0px 14px -6px;
    -moz-box-shadow: 0px 0px 14px -6px;
    box-shadow: 0px 0px 14px -6px;
}
.fc-enty-list-box-dsc-title {
    font-size: 20px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 14px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.fc-enty-list-box-dsc span{
	display: block;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #333333;
	padding-bottom: 16px;
}
.fc-enty-list-box-dsc u{
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
	color: #D60215;
	font-family: 'Work Sans', sans-serif;
	display:block;
	padding-bottom: 15px;
}
.fc-enty-list-box-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #fff;
	background: #70ba61;
	padding: 10px 20px;
	border:2px solid #70ba61;
}
.fc-enty-list-box-dsc a:hover{
	background: transparent;
	color: #70ba61;
}
.fc-pagination-wrp{
	padding-top: 25px;
}
.fc-pagination-wrp ul li{
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	float: left;
}
.fc-pagination-wrp ul li span,
.fc-pagination-wrp ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #A0A0A0;
	background: #fff;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Work Sans', sans-serif;
	border:1px solid#b8b8b8;
	border-left: 0;
}
.fc-pagination-wrp ul li span.current{
	border-left:1px solid#1A1C20;
}
.fc-pagination-wrp ul li span.current,
.fc-pagination-wrp ul li a:hover{
	background: #DF0025;
	color: #fff;
	border-color: #1A1C20;
}
.fc-pagination-wrp ul li:first-child a{
	border-left: 1px solid #b8b8b8;
}
.fc-pagination-wrp ul li:first-child a:hover{
	border-color: #1A1C20;
}
/*
------------------
 Responsive Css
------------------
*/

@media(max-width: 1199px){
  

}

@media(max-width: 991px){
	.fc-enty-list-box-wrp ul li {
	    width: 50%;
	}
	.fc-enty-list-box-wrp ul li:nth-child(3n+1){
	    clear: none;
	}
	.fc-enty-list-box-wrp ul li:nth-child(2n+1){
	    clear: left;
	}
	.fc-enty-list-box-inr {
	    padding: 30px 15px;
	}
}

@media(max-width: 767px){
	.fc-enty-list-box-dsc-title {
	    font-size: 18px;
	    line-height: 20px;
	    margin-bottom: 10px;
	}
	.fc-enty-list-box-inr {
	    padding: 30px 10px;
	}
	.fc-enty-list-box-dsc span {
	    font-size: 16px;
	    line-height: 18px;
	    padding-bottom: 12px;
	}
	.fc-enty-list-box-dsc u {
	    font-size: 14px;
	    line-height: 16px;
	    padding-bottom: 12px;
	}
	.fc-enty-list-box-sec-wrp {
	    padding-bottom: 60px;
	}
}

@media(max-width: 575px){
	.fc-enty-list-box-wrp ul li {
	    width: 100%;
	}
	.fc-enty-list-box-wrp ul li:nth-child(2n+1){
	    clear: none;
	}
	.fc-enty-list-box-wrp{
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}
	.fc-enty-list-box-wrp {
	    max-width: 380px;
	    width: 100%;
	    margin: 0 auto;
	}
	.fc-pagination-wrp ul{
		display: table;
		margin: 0 auto;
	}
}

@media(max-width: 479px){
	
}

@media(max-width: 359px){

}