.header{
	background: #1b1c20;
	color: #fff;
	padding: 0 0 0 0;
}
.hdr-topbar{
	padding-left: 15px;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
}
.hdr-rating{
	display: flex;
	align-items: center;
}

.hdr-topbar-inr{
	background: #b30027;
	position: relative;
	padding-left: 320px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	align-items: center;
	min-height: 41px;
}
.hdr-rating ul{
	padding-left: 6px;
	padding-right: 4px;
}
.hdr-rating ul li{
	display: inline-block;
	vertical-align: baseline;
	color: #F7CE28;
}
.hdr-rating ul li a{
	color: #F7CE28;
}
.hdr-rating span u{
	padding-bottom: 1px;
	border-bottom: 1px dotted #fff;
}
.hdr-topba-rgt{
	margin-left: auto;
	padding-right: 91px;
	height: 100%;
}
.hdr-login-register-btns{
	display: flex;
	align-items: center;
}
.hdr-login-register-btns a{
	color: #fff;
	margin: 0 8px;
	position: relative;
}
.hdr-login-register-btns a:last-child:before{
	content: "/";
	position: absolute;
	top: 0;
	left: -11px;
}

.hdr-cart-btn{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 91px;
}
.hdr-cart-btn-inr{
	width: 100%;
	height: 100%;
	background: url(../images/hdr-basket-bg.png);
	background-repeat: repeat-x;
	background-position: left center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hdr-cart-btn-inr i{
	position: relative;
}
.hdr-cart-btn-inr i span {
    color: #fff;
    font-size: 9px;
    line-height: 1;
    font-weight: 700;
    position: absolute;
    right: 5.5px;
    top: 13px;
    font-style: normal;
}


.header-inr{
	position: relative;
}
.hdr-navbar{
	padding-left: 335px;
}
.logo{
	position: absolute;
	left: 15px;
	top: 0;
	z-index: 5;
}
.logo a{
	display: block;
	max-width: 315px;
}


.hdr-navbar-bdr-cntlr{
	padding-bottom: 30px;
}
.hdr-navbar{
	border-bottom: 2px solid #fff;
}

.main-nav-cntlr-inr{
	display: flex;
	align-items: center;
}
.hdr-social{
	padding-top: 5px;
	margin-left: auto;
}
.hdr-social ul li,
.hdr-social ul li a{
	display: inline-block;
	vertical-align: baseline;
}
.hdr-social ul li{
	padding-right: 15px;
}
.hdr-social ul li a{
	color: #fff;
}


nav.main-nav ul{

}
nav.main-nav ul li{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	padding: 30px 15px 25px;
	text-transform: uppercase;
}
nav.main-nav > ul > li:first-child{
	padding-left: 0;
}
nav.main-nav > ul > li > a{
	color: #fff;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}

nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
    top: 100%;
    left: 0;
    min-width: 205px;
    padding: 5px 0 0 0;
    background: #fff;
    border-top: 2px solid #fff;
    z-index: 30;
    box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
    border-top: 2px solid #B20026;
}

nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav  ul.sub-menu li{
	padding: 0 0 0 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #eee;
}
nav.main-nav ul.sub-menu li a{
	color: #9e9ea1;
	font-size: 14px;
	display: block;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
}

nav.main-nav ul.sub-menu li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #f4b406;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav ul.sub-menu li:hover:before {
    height: 100%;
}
.xs-popup-menu{
	display: none;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
	.logo a{
		max-width: 280px;
	}
	.hdr-topbar-inr{
		padding-left: 290px;
	}
	.hdr-navbar {
	    padding-left: 307px;
	}
	nav.main-nav > ul > li {
	    padding: 25px 10px 20px;
	}
}

@media(max-width: 1199px){
	nav.main-nav ul li{
		font-size: 13px;
	}
	.hdr-social ul li{
		padding-right: 10px;
	}
	.logo a {
	    max-width: 225px;
	}
	.hdr-navbar {
	    padding-left: 245px;
	}
	.hdr-topbar-inr {
	    padding-left: 231px;
	}
}

@media(max-width: 991px){
	body.active-scroll-off{
		overflow: hidden;
	}
	.main-nav-cntlr.opacity-1 {
	    right: 0;
	    opacity: 1;
	    z-index: 9999999;
	}
	.bdoverlay.active {
	    z-index: 9999;
	    opacity: 1;
	}
	.bdoverlay {
	    background: rgba(0, 0, 0, 0.8);
	    position: fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    z-index: -1;
	}
	.hdr-navbar{
		min-height: 30px;
		position: relative;
	}

	.main-nav-cntlr{
		position: fixed;
	    top: 0;
	    right: -250px;
	    bottom: 0;
	    background: #fff;
	    color: #ffffff;
	    font-size: 18px;
	    line-height: 20px;
	    max-width: 270px;
	    width: 100%;
	    z-index: -1;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    display: block;
	}
	.main-nav-cntlr-inr{
		position: relative;
		padding: 60px 20px 25px 20px;
		overflow-y: scroll;
	    height: 100%;
	    position: relative;
	    width: 100%;
	    display: block;
	}
	.hdr-humberger {
	    display: flex;
	    align-items: center;
	    justify-content: flex-end;
	    padding-right: 15px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    width: 85px;
	    margin-left: auto;
	}
	.menu-txt {
		padding-left: 15px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		line-height: 22px;
		color: #fff;
	}

	.line-icon {
	    cursor: pointer;
	    position: relative;
	    height: 23px;
	    max-width: 50px;
	    margin-top: 9.5px;
	}
	.line-icon span {
	    height: 2px;
	    width: 12px;
	    background: #fff;
	    display: block;
	    position: absolute;
	    transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		
	}
	.line-icon span:first-child {
	    top: 0px;
	    right: 0px;
	}
	.line-icon span:nth-child(2) {
	    top: 4px;
	    right: 0px;
	}
	.line-icon span:nth-child(3) {
	    top: 8px;
	    right: 0px;
	}
	/*.line-icon.active-collapse span:first-child {
	    width: 35px;
	}
	.line-icon.active-collapse span:nth-child(2) {
	    width: 30px;
	}
	.line-icon.active-collapse span:last-child {
	    width: 25px;
	}*/

	nav.main-nav.opacity-1 {
	    right: 0;
	    opacity: 1;
	    z-index: 9999999;
	}
	.closebtn {
	    position: absolute;
	    width: 20px;
	    height: 20px;
	    cursor: pointer;
	    display: inline-block;
	    vertical-align: top;
	    clear: both;
	    max-width: 100%;
	    top: 20px;
	    right: 20px;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.closebtn span {
	    position: inherit;
	    left: 0px;
	    height: 4px;
	    width: 100%;
	    background: #212529;
	    top: 13px;
	    display: block;
	}
	.closebtn span:first-child {
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	}
	.closebtn span:last-child {
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	}
	.main-nav-inr{
		overflow-y: scroll;
		height: 100%;
		position: relative;
	}
	nav.main-nav ul li{
		display: block;
	}
	nav.main-nav > ul > li{
		margin-bottom: 10px;
		padding-bottom: 5px;
		padding-left: 0;
		padding-right: 0;
	}
	nav.main-nav > ul > li > a{
		margin: 10px 0!important;
		color: #D60215;
		position: relative;
	}
	nav.main-nav > ul > li.menu-item-has-children:after,
	nav.main-nav > ul > li.menu-item-has-children:focus:after,
	nav.main-nav > ul > li > a:after{
		content: none!important;
	}

	nav.main-nav > ul > li.menu-item-has-children > a:after{
		content: "\f107"!important;
	    font-family: 'Font Awesome 5 Free';
	    font-weight: 600;
	    text-decoration: inherit;
	/*--adjust as necessary--*/
	    color: #D60215;
	    font-size: 14px;
	    position: absolute;
	    top: 1px;
	    right: -15px;
	}
	nav.main-nav > ul > li.menu-item-has-children > a.sub-menu-active:after{
		content: "\f106"!important;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu {
	    position: static;
	    display: none;
	    top: 100%;
	    left: 0;
	    min-width: auto;
	    padding: 5px 0 0 20px;
	    background: #fff;
	    border-top: 2px solid #fff;
	    z-index: 20;
	    box-shadow: none!important;
	    transform: initial!important;
	    transition: initial!important;
	    transform-origin: initial!important;
	    opacity: 1;
	    border-top: none;
	}
	
	/*extra*/
	nav.main-nav > ul > li:not(:last-child):after,
	nav.main-nav > ul > li.current-menu-item > a:before, 
	nav.main-nav > ul > li:hover > a:before{
		content: none!important;
	}
	nav.main-nav ul li a:focus{
		color: #D60215!important;
	}
	nav.main-nav ul.sub-menu li a{
		font-size: 12.5px;
	}
	.hdr-social{
		border-top: 1px solid #ddd;
		padding-top: 20px;
		margin-top: 23px;
	}
	.hdr-social ul li a {
	    color: #212529;
	}




	.hdr-rating ul li a {
	  	font-size: 14px;
	  	line-height: 1;
	}
	
}

@media(max-width: 767px){
	.logo{
		top: 10px;
	}
	.hdr-navbar{
		padding-left: 0;
	}
	.hdr-navbar-bdr-cntlr{
		position: relative;
	}
	.hdr-navbar{
		min-height: 110px;
		display: flex;
		align-items: center;
	}
	.hdr-topbar-inr {
	    padding-left: 15px;
	}
}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}