.live-draws-page-con{
	background: #1b1c20;
}
.live-draws-page-hdr{
	position: relative;
	background: #eaeaea;
}

.live-draws-page-hdr-icon{
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom:0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.live-draws-page-hdr-icon img{
	max-height: 100%;
	width: auto;
}
.live-draws-page-hdr-inr{
	position: relative;
	z-index: 2;
}
.live-draws-page-hdr-con{
	padding-top: 5px;
	padding-bottom: 130px;
}

.live-draws-page-hdr-con strong{
	font-weight: 600;
	font-size: 30px;
	line-height: 1;
	display: block;
	text-transform: uppercase;
}

.previous-draws-section{
	padding: 30px 0 0;
}
.previous-draws-sec-grd-cntlr ul{
	margin: 0 -10px;
}
.previous-draws-sec-grd-cntlr ul li{
	float: left;
	width: 50%;
	padding: 0 10px 15px;
}
.previous-draws-sec-grd-cntlr ul li:nth-child(2n+1){
	clear: left;
}
.previous-draws-sec-grd-cntlr ul li:last-child,
.previous-draws-sec-grd-cntlr ul li:nth-last-child(2){
	padding-bottom: 0;
}



.fb-video-embaded{
	background: #f1f1f1;
	color: #606163;
}
.fb-video{
	width: 100%;
}
.fb-video-embaded iframe{
	height: 445px!important;
	width: 100%!important;
}