.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 14px!important;
	height: 14px!important;
	position: static;
	background: #AD8175!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #D60215!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 14px;
	height: 14px;
}






.slick-prev,
.slick-next{
	width: 30px;
	height: 30px;
	background-size: 13px 14px;
	cursor: pointer;
	z-index: 20;
	opacity: 1;
	border: 1px solid #B20026;
}
.slick-prev{
	left: 0;
	background: url(../images/prev-arrow-black.png)!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 13px 14px!important;
}
.slick-next{
	right: 0;
	background: url(../images/next-arrow-black.png)!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 13px 14px!important;
}
.slick-prev:before,
.slick-next:before{
	content: none;
}
.slick-prev:hover{
	background: url(../images/prev-arrow-black-hover.png)!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 13px 14px!important;
}
.slick-next:hover{
	background: url(../images/next-arrow-black-hover.png)!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 13px 14px!important;
}


.sitemap{
	padding: 100px 0;
}

.sitemap ul li{
	padding-bottom: 10px;
	font-weight: 700;
}
.sitemap ul li a:focus{
	text-decoration: underline;
}
.sitemap ul li a:hover{
	color:#EFBBB1; 
}





ul, ol{
	font-size: 18px;
	line-height: 1.2;
}

.default-page-con ul, ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}
.default-page-con ul li,
ul li {
	padding: 0 0 15px 13px;
	position: relative;
}

.default-page-con ul li::before, ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: -1px;
    line-height: 1;
}


.default-page-con ol, ol {
	padding: 0 0 0 0;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li ,ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding: 0 0 40px 25px;
	position: relative;
}

.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	color: #DF0025;
	font-weight: 800;
	font-size: 22px;
	line-height: 1px;
	text-align: left;
	position: absolute;
	left: 0;
	top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* title*/
.full-width-bdr-title{
	margin-bottom: 75px;
	margin-left: 15px;
	position: relative;
}
.full-width-bdr-title:before{
	content: "";
	position: absolute;
	left: 15px;
	right: 0;
	top: 0;
	height: 1.5px;
	background: #fff;
	z-index: 1;
}
.full-width-bdr-title span{
    display: inline-block;
    vertical-align: baseline;
    font-size: 26px;
    line-height: 1;
    text-transform: uppercase;
    padding: 15px 50px 15px 15px;
    background: #d70216;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    top: -1.5px;
    z-index: 2;
}

.full-width-bdr-title span:after {
    content: "";
    position: absolute;
    top: 0;
    right: -42px;
    bottom: 0;
    border-right: 41px solid transparent;
    border-left: 50px solid transparent;
    border-top: 56px solid #d70216;
}

.full-width-bdr-title span:before{
	content: "";
	position: absolute;
	left: -15px;
	right: -4px;
	bottom: -15px;
	height: 1.5px;
	background: #FFFFFF;
}

.full-width-bdr-title span i {
    position: absolute;
    width: 1.5px;
    top: -6px;
    bottom: -23px;
    right: -30px;
    transform: rotate(37deg);
    z-index: 5;
    background: #fff;
}
.full-width-bdr-title span em {
    background: #eaeaea;
    height: 2px;
    width: 14px;
    top: 1px;
    right: -55px;
    position: absolute;
    z-index: 5;
}
.fl-sec-hdr-title-drk-cntlr .full-width-bdr-title span em{
	right: -53.5px;
}

.fl-sec-hdr-title-drk-cntlr .full-width-bdr-title span em{
	background: #1b1c20;
}
body.home .footer-tp-gallery-sec-wrp{
	padding-top: 10px;
}
.page-404.text-center {
    padding: 120px 0;
}


.privacy-policy .page-section{
	background: #eaeaea;
	padding-bottom: 40px;
}
.privacy-policy .sec-overlay-cntlr{
	background: transparent;
}

@media(max-width: 1499px){
	
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	.full-width-bdr-title{
		margin-bottom: 55px;
	}
	
	
}

@media(max-width: 767px){
	
}

@media(max-width: 575px){
	

}

@media(max-width: 479px){
	

}

@media(max-width: 359px){

}