@media(max-width: 1499px){
	.container{
		max-width: 1200px;
	}
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.default-page-con ol li::before, ol li::before{
		font-size: 18px;
		top: 8px
	}
	.full-width-bdr-title:before,
	.full-width-bdr-title span:before{
		content: none;
	}
	.full-width-bdr-title span i,
	.full-width-bdr-title span em{
		display: none;
	}
	.full-width-bdr-title{
		margin-bottom: 45px;
	}
	h1{
		font-size: 35px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 28px;
	}
	h4{
		font-size: 24px;
	}
	h5{
		font-size: 22px;
	}
	
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.full-width-bdr-title span{
		font-size: 23px;
		display: block;
		text-align: center;
	}
	.full-width-bdr-title span{
		background: transparent;
		color: #000;
		padding-left: 0;
		padding-right: 0;
	}
	.full-width-bdr-title span:after{
		content: none;
	}
	.full-width-bdr-title {
	    margin-bottom: 15px;
	    padding-left: 0;
	    padding-top: 20px;
	}
	.fl-sec-hdr-title.fl-sec-hdr-title-drk-cntlr .full-width-bdr-title span{
		color: #fff;
	}
	.fc-cw-post-grid-sec-wrp .full-width-bdr-title {
	    margin-bottom: 20px;
	}

}

@media(max-width: 479px){
	/*.full-width-bdr-title{
		max-width: 250px;
	}*/
	
	h1{
		font-size: 32px;
	}
	h2{
		font-size: 28px;
	}
	h3{
		font-size: 26px;
	}
	h4{
		font-size: 23px;
	}
	h5{
		font-size: 21px;
	}
	.full-width-bdr-title span{
		font-size: 22px;
		display: block;
		text-align: center;
	}
}

@media(max-width: 359px){

}